*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: 0 auto;
    background: #FFFFFF; 
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #000000;
}

header{
    width:100%;
}

header .container img{
    float: left;
    width:260px;
    height: 120px; 
    margin-top: 15px;
    transform:translateY(-10px)
}

header .container ul{
    float: right;
    margin-top: 20px;
    list-style: none;
}

header .container ul li{
    float: left;
    margin-left: 5px;
}


header .container ul li a{
    display: inline-block;
    font-size: 13px;
    color: #04542c;
    text-transform: uppercase;
    text-decoration: none;
}

.container ul li:first-child{
    padding-right: 5px;
    border-right: 1px solid #B4B2B4;
}



.container ul li a span{
    font-size: 20px;
}

.container ul li:not(:last-child) a:hover{
    border-bottom: 0.1px solid;
}

.container ul li:last-child a:hover .icon-cart{
    opacity: 0.4;
}

.container a span{
    margin-right: 3px;
}

.nav-p{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 0px auto;
    background: #FFFFFF; 
}

.nav-menu{
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    background: #FFFFFF;
}

.nav-menu li{
    float: left;
}

.nav-menu li a{
    display:block;
    width:200px;
    text-decoration: none;
    padding: 5px;
    color: #04542C;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.nav-menu li a:hover{
    font-size: 18.5px;
    border-bottom: 1.5px solid #04542C;
}

.tiendas{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    padding-bottom: 20px;
    margin:100px 0;

}

.tiendas img{
    width: 320px;
    height: 270px;
}

.tiendas article{
    margin: 30px auto;
}

.tiendas article a{
    text-decoration: none;
    color: #04542c
}

.tiendas article a h4:hover{
    text-decoration-line: underline;
}
.tiendas article h4{
    width:80%;
    text-align: center;
}

footer{
    float: left;
    width:100%;
    height: 250px;
    background: #04542c;
}

footer section{
    width: 100%;
    color: #FFFFFF;
}

footer section article:not(:last-child){
    float: left;
    width: 30%;
    height: 180px;
    margin-top: 20px;
    margin-left:35px;
    margin-bottom: 50px;
}

footer section article h4{
    padding: 5px;
    font-size: 25px;
    margin-bottom: 20px;
}

footer section article p{
    padding:10px;
}

.redes-sociales h4{
    margin-bottom: 100px;
}

.redes-sociales a {
    margin: 0 20px;
    text-decoration: none;
    padding: 10px;
    color: #FFFFFF;
}

.redes-sociales a span {
    font-size: 25px;
    padding: 5;
    width:20px;
    background: none;
}

.info-contact a{
    display: block;
    margin-top: 10px;
    padding-left: 10px;
    color: #FFFFFF;
    text-decoration: none;
}
.copyright{
    float:left;
    width: 100%;
    height: 20px;
    background: #044625;
}

.copyright p{
    text-align: center;
    font-size: 15px;
    padding: 0;
    color:#FFFFFF;
}